{% extends 'base.html' %} 
{% block content %}
      <!-- Main -->
      <div id="main" class="alt">
        <!-- One -->
        <section id="one">
          <div class="inner">
            <header class="major"><h1>{{ data.title }}</h1></header>
            <span class="image main"><img src="/static/images/about.jpg" alt=""/></span>
            {{ data }}
          </div>
        </section>
      </div>

{% endblock %}