<!DOCTYPE html>

<html>
  <head>
    <title>Nova Luxury</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css"/></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="/" class="logo"
          ><strong>Nova</strong> <span>Luxury</span></a
        >
        <nav><a href="#menu">Menu</a></nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{ url_for('landing', what='arch') }}">How do we work</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <ul class="actions stacked">
          <!-- <li><a href="#" class="button primary fit">Get Started</a></li> -->
          <li><a href="#contact" class="button fit scrolly">Send Request</a></li>
        </ul>
      </nav>
      {% block content %} {% endblock %}
      
      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section>
            <form method="post" name="contact" data-netlify="true">
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="field half">
                  <label for="name">Place</label>
                  <input type="text" name="place" id="place" />
                </div>
                <div class="field half">
                  <label for="email">Phone</label>
                  <input type="text" name="phone" id="phone" />
                  <span>with country code.</span>
                </div>
                <div class="field">
                  <label for="plans">Upload plans</label>
                  <input type="file" name="plans" id="plans" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6"></textarea>
                </div>
                <div class="field">
                  <div data-netlify-recaptcha="true"></div>
                </div>
              </div>
              <ul class="actions">
                <li>
                  <input type="submit" value="Send Message" class="primary" />
                </li>
                <li><input type="reset" value="Clear" /></li>
              </ul>
            </form>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="#">novaluxaryinc@gmail.com</a><br/>
                <span>+91 99526 46639</span>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon alt fa-phone"></span>
                <h3>Office</h3>
                <span>
                  173/3, Pillars Gate,<br />
                  Nagercoil,<br />
                  Kanniyakumari - 629001<br />
                  Tamilnadu, India.
                </span>
              </div>
            </section>
          </section>
        </div>
      </section>
      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a href="#" class="icon alt fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a href="#" class="icon alt fa-facebook"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon alt fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; All rights resevered</li>
            <li>2019 @ Nova Luxury</li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrolly.min.js"></script>
    <script src="/static/js/jquery.scrollex.min.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/breakpoints.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
