{% extends 'base.html' %}

{% block content %}
<section id="banner" class="style2">
    <div class="inner">
      <span class="image"> <img src="/static/images/pic05.jpg" alt="" /> </span>
      <header class="major"><h1>{{data.title}}</h1></header>
      <div class="content">
        <p>
            Best plans you ever see.
        </p>
      </div>
    </div>
  </section>
<div id="main">
    <section id="two">
        <div class="inner">
            <div class="box">
                {{data}}
            </div>
        </div>
    </section>
</div>
{% endblock %}
