<!DOCTYPE html>

<html>
  <head>
    <title>Nova Infras - Gallery</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/main-gallery.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css"/></noscript>
  </head>
  <body class="is-preload-0 is-preload-1 is-preload-2">
    <!-- Main -->
    <div id="main">
      <!-- Header -->
      <header id="header">
        <h1>Nova Infras Gallery</h1>
        <p>
          This can be yours if you want.
        </p>
        <ul class="icons">
          <li>
            <a href="#" class="icon fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-envelope-o"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
      </header>

      <!-- Thumbnail -->
      <section id="thumbnails">
        <article>
          <a
            class="thumbnail"
            href="/static/images/gallery/{{ dest }}/fulls/01.jpg"
            data-position="left center"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/01.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/02.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/02.jpg" alt=""
          /></a>
        </article>
        <article>
          <a
            class="thumbnail"
            href="/static/images/gallery/{{ dest }}/fulls/03.jpg"
            data-position="top center"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/03.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/04.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/04.jpg" alt=""
          /></a>
        </article>
        <article>
          <a
            class="thumbnail"
            href="/static/images/gallery/{{ dest }}/fulls/05.jpg"
            data-position="top center"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/05.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/06.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/06.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/07.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/07.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/08.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/08.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/09.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/09.jpg" alt=""
          /></a>
        </article>
        <article>
          <a class="thumbnail" href="/static/images/gallery/{{ dest }}/fulls/10.jpg"
            ><img src="/static/images/gallery/{{ dest }}/thumbs/10.jpg" alt=""
          /></a>
        </article>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Nova Infras.</li>
          <li>Design: <a href="#">Yali Inc</a>.</li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/breakpoints.min.js"></script>
    <script src="/static/js/main-gallery.js"></script>
  </body>
</html>
