{% extends 'base.html' %} {% block content %}
<section id="banner" class="major style7">
  <div class="inner">
    <header class="major">
      <h1>{{ data.title }}</h1>
    </header>
    {% if not data.key %}
    <div class="content">
      <p>The finest in the industry</p>
    </div>
    {% else %}
      <div class="content">
        <p>
          We put together our work on<br />
          {{data.title}} into a neat Gallery.
        </p>
        <a href="{{ url_for('gallery', type=data.key) }}" class="button next scrolly">See Gallery</a>
      </div>
    {% endif %}
    <span class="image main"> <img src="{{ data.banner }}" alt="" /> </span>
  </div>
</section>
<div id="main">
  <section id="two">
    <div class="inner">
      {{ data }}
    </div>
  </section>
</div>
{% endblock %}
