{% extends 'base.html' %} {% block content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
  <div class="inner">
    <span class="image"> <img src="/static/images/pic07.jpg" alt="" /> </span>
    <header class="major"><h1>Our Services</h1></header>
    <div class="content">
      <p>
        We provide many services such as Interior design, Landscaping<br />
        Architecture and many more. Everything you want to build your dream home.
      </p>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">
  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major"><h2>Streamlined Experience</h2></header>
      <p>
        Our main goal at Nova Homes is to satisfy our customers and provide them
        what they want. Also at the same time, We want to give you a easier yet streamlined experience
        when you build your dream home, office or anything you want. That's we have simple, predictable
        pricing plans that have everything you need and have reasonable price.
      </p>
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="spotlights">
    <section>
      <a href="#" class="image">
        <img src="/static/images/object1.jpg" alt="" data-position="center center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major"><h3>Modern Plans</h3></header>
          <p>
            Our modern plans gives you everything you need to 
            decor your home at an affordable price. These packages are suitable for 
            people who need a simple yet beautiful Interiors. The goal for creating these plans is to provide
            affordable yet classy interiors for every one with that in mind we derived everything for these plans
          </p>
          <ul class="actions">
            <li><a href="/pricing_modern.html" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image">
        <img src="/static/images/object2.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major"><h3>Premium Plans</h3></header>
          <p>
            This package is for people who needs best in class design and materials.
            It includes a whole lot of goodies for your home. When see what you get with this
            plan you will be amazed and it has a reasonable value proposition too.
            The products you get from these plans are at premium quality and uses imported materials
            and will have a larger life span.
          </p>
          <ul class="actions">
            <li><a href="/pricing_premium.html" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image">
        <img src="/static/images/object3.jpg" alt="" data-position="25% 25%" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major"><h3>Luxary Plans</h3></header>
          <p>
            This is most luxarious proposition We have for you. Here you only
            get best of the best stuff. Make your home like a palace inside
            with these luxary plans. We took a keen approach on everything from choosing materials
            to giving fine details in furnitures included in these plans to reflect a royale look 
            and feel. 
          </p>
          <ul class="actions">
            <li><a href="/pricing_luxary.html" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three">
    <div class="inner">
      <header class="major"><h2>From dream to reality</h2></header>
      <p>
        Everyone has different requirements and different taste when it comes to home interiors. We are here to
        create appealing designs that are in line with your hearts, at the same time it should also fulfill
        the client’s requirements. With NOVA, customers can express their ideas and needs directly. Our top interior
        designers will prepare the layouts after understanding your thoughts and requirements completely. Every single detail
        will be discussed with you and your suggestions will be well incorporated.
      </p>
      <ul class="actions">
        <li><a href="/generic.html" class="button next">Get Started</a></li>
      </ul>
    </div>
  </section>
</div>

{% endblock %}
