{% extends 'base.html' %} {% block content %}
<div id="main">
  <div class="inner">
    <h1 class="major align-center">Plans & Pricing - Interior</h1>
    <div class="row">
      {% for pack in packages %}
      <div class="col-4 col-12-medium">
        <div class="box">
          <h3>{{ pack.name }}</h3>
          <h4><strong>Price: </strong>Rs.{{ pack.price }}</h4>
          <p><strong>Description:</strong>{{ pack.description }}</p>
          <a href="{{url_for('details', type=pack.category.lower() ,id=pack.id)}}" class="button primary fit">See details</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
